
/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .service-container {
    margin: 0;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

  .footer-nav-container {
    text-align: center;
  }

  .footer-logo-container {
    text-align: center;
  }

  .contact-heading  {
    text-align: center;
  }
  .contact-container {
    text-align: center;
  }

  .wpcf7 input[type=submit] {
    min-width: 100%;
  }

  .copyright {
    margin-top: 20px;
  }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* Custom, specific for footer */
@media only screen and (max-width : 628px) {

}

@media only screen and (max-width : 400px) {

}
